


.contenitorelogo{
    width: 350px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;

}
.logo{
    width: 600px;
    margin: auto;
  
}
.scrittalogo{
    display: inline-block;
    margin: auto;
    margin-left: 600px;
    font-size: 70px;
    font-family: 'Mulish', sans-serif;
    height: 100px;
    color: rgb(8,220,4);
}
.pulsanti{
    text-align: center;
    margin: auto;
    padding-left: 300px;
    width: 1300px;
    background-color:rgb(0, 221, 0) ;
    
    margin-top: 1px;
    padding: 20px;
   }


.blocco{
    margin: auto;
    width: 1340px;
    margin-top: 30px;
    font: 1em sans-serif;
    font-size: 50px ;
    color: white;
}
.blocco2{
    margin: auto; 
    width: 1340px;
    font:  1em sans-serif;
    font-size: 40px;
    color: white;
    margin-top: 8px;
}


.rettangolo1{
    width: 500px;
    height: 50px;
    background-color: rgba(216, 157, 75, 0.859);
    border-radius: 15px;
   
}
.rettangolo2{
    width: 700px;
    height: 60px;
    background-color: rgba(9, 255, 21, 0.884);
    border-radius: 15px;
}
.rettangolo3{
    width: 200px;
    height: 60px;
    background-color: rgb(190, 62, 62);
    border-radius: 15px;
}
body{
    background-image: url(background.jpg);
}
.maschera{
    
  
    margin: auto;
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 2000px;
    height: 1500px;
    border-radius: 25px;
    }


